<H1>Hello WWorld</H1>

<br>

<H1><b>Bài Thơ Chỉ Có Thể Là Mẹ</b></H1> <br>

<div style="font-family:Arial">
    <h2>
        Nắng dần tắt trên con đường phố <br>
        Dáng mẹ gầy giẹo giọ liêu xiêu <br>
        Bữa cơm đạm bạc thương yêu ấm lòng <br>
        Cả đời mẹ long đong vất vả<br>
        Cho chồng con quên cả thân mình <br>
        Một đời mẹ đã hi sinh <br>
        Tuổi xuân phat nhạt nghĩa tình đượm sâu <br>
        Mưa và nắng nhuộm màu tóc trắng <br>
        Bụi gian nan đọng lắng nếp nhăn<br>
        Rụng rồi thương lắm hàng răng <br>
        Lưng còng chân yếu ánh trăng cuối đời<br>
        Tình của mẹ sáng ngời dương thế <br>
        Lo cho con tấm bé đến già <br>
        Nghĩa tình son sắt cùng cha <br>
        Giản đơn dung dị là mẹ thôi <br>
        Con đi khắp chân trời góc bể <br>
        Ân tình nào sáng xuề mẹ yêu<br>
        Nghĩa đày độ lượng bao nhiêu<br>
        Có trong lòng mẹ sớm chiếu bao dung <br>

    </h2>
</div>